<div class="well research_form">
        <form action="{{path('mi_film_search') }}" method="post" >
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Recherche" class="btn btn-primary" />
                {{ form_end(form) }}
        </form>
</div>